body,html {
    font-family: Tahoma, Geneva, sans-serif;
    font-size:13px;
    margin-left:auto;
    margin-rigth:auto;
    height:100%;
}

table,th,td
{
    border:1px solid #778899;
    padding-left:5px;
    padding-right:5px;
    padding-top:3px;
    padding-bottom:3px;
    font-size:13px;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    background-color:#2F4F4F;
    color:white;
    height:40px;
}

td.area{
    max-width: 200px;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.clear{
   clear: both;
   margin-top:10px;
}

textarea.input {
    width: 600px;
    height: 60px;
    font-size:14px;
    padding: 3px;
    border: none
}

input {
    border: none;
    font-size:13px;
}
button{
    font-size:13px;
}

[type~=text]{
    width: 600px;
    height: 25px;
    font-size:14px;
    padding: 3px
}